<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">FORTNITE COMPARATOR</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/top" title="Lien actif">TOP <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/kill" title="Lien actif">KILL <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/time" title="Lien actif">TIME <span class="sr-only">(current)</span></a></li>
                
            </ul>
        </div>
    </div>
</nav>

<h2 style="display:none;" id="infos_player"><%=JSON.stringify(infos_players) %></h2>
    
<div style="width:25%;height:300px;float:left;margin-top: 2%;text-align:center;">
    <a>KILL</a>
    <div id="div_kill" style="width:100%;height:300px;float:left;"></div>
</div>

<div style="width:25%;height:300px;float:left;margin-top: 2%;text-align:center;">
    <a>MATCH PLAYED</a>
    <div id="div_match_played" style="width:100%;height:300px;float:left;"></div>
</div>

<div style="width:25%;height:300px;float:left;margin-top: 2%;text-align:center;">
    <a>RATIO K/D</a>
    <div id="div_kd" style="width:100%;height:300px;float:left;"></div>
</div>

<div style="width:25%;height:300px;float:left;margin-top: 2%;text-align:center;">
    <a>KILL / MINUTE</a>
    <div id="div_km" style="width:100%;height:300px;float:left;"></div>
</div>

<script type="text/javascript" src="/public/js/flot/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/public/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="/public/js/flot/jquery.flot.time.js"></script>    
<script type="text/javascript" src="/public/js/flot/jquery.flot.symbol.js"></script>

<script type="text/javascript">

    var infos_players = JSON.parse($("#infos_player").html());

    var dataset_kill = [{data:[[0, infos_players[0]._kill]], color: "#d4280a" },
                        {data:[[1, infos_players[1]._kill]], color:"#950bc5"},
                        {data:[[2, infos_players[2]._kill]], color:"#1774c9"},
                        {data:[[3, infos_players[3]._kill]], color:"#18b23a"}];

    var dataset_kd = [{data:[[0, infos_players[0]._ratio_kd]], color: "#d4280a" },
                      {data:[[1, infos_players[1]._ratio_kd]], color:"#950bc5"},
                      {data:[[2, infos_players[2]._ratio_kd]], color:"#1774c9"},
                      {data:[[3, infos_players[3]._ratio_kd]], color:"#18b23a"}];

    var dataset_match_played = [{data:[[0, infos_players[0]._match_played]], color: "#d4280a" },
                                {data:[[1, infos_players[1]._match_played]], color:"#950bc5"},
                                {data:[[2, infos_players[2]._match_played]], color:"#1774c9"},
                                {data:[[3, infos_players[3]._match_played]], color:"#18b23a"}];  
                                
    var dataset_kill_min = [{data:[[0, infos_players[0]._kill_min]], color: "#d4280a" },
                                {data:[[1, infos_players[1]._kill_min]], color:"#950bc5"},
                                {data:[[2, infos_players[2]._kill_min]], color:"#1774c9"},
                                {data:[[3, infos_players[3]._kill_min]], color:"#18b23a"}];                                    


    put_data($("#div_kill"), dataset_kill);
    put_data($("#div_kd"), dataset_kd);
    put_data($("#div_match_played"), dataset_match_played);
    put_data($("#div_km"), dataset_kill_min);
    

    function put_data(place_holder, dataset) {

        var ticks = [[0, infos_players[0]._name], [1, infos_players[1]._name], [2, infos_players[2]._name], [3, infos_players[3]._name]];
    
            var options = {
                series: {
                    bars: {
                        show: true
                    }
                },
                bars: {
                    align: "center",
                    barWidth: 0.5,
                    fill:1,
                    stack:true,
                },
                xaxis: {
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10,
                    ticks: ticks
                },
                yaxis: {
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 3,
                    tickFormatter: function (v, axis) {
                        return Math.round(v * 100) / 100
                    }
                },
                legend: {
                 },
                grid: {
                    borderWidth: 1,
                    backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
                }
            };
    
        $(document).ready(function () {
            $.plot(place_holder, dataset, options);
        });
    }
</script>

